<div>
    <div class="text-center">
        {{profile.username}}
        {% if status == True %}
        <a href="{% url 'unfollow' profile.id %}">
            <input type="submit" class="btn btn-sm btn-outline-danger" value="Unfollow">
        </a>
        {% else %}
        <a href="{% url 'follow' profile.id %}">
            <input type="submit" class="btn btn-sm btn-outline-primary" value="Follow">
        </a>
        {% endif %}
        <br><br>
        <div style="font-weight: bolder;">
            {{posts | length}} Posts <span style="margin-right: 20px;"></span>
            {{followers.count}} Followers <span style="margin-right: 20px;"></span>
            {{following.count}} Following
        </div>
        <br>
        {% if profile.bio %}
        Bio
        <div>
            {% autoescape on %}
            {{profile.bio}}
            {% endautoescape %}
        </div>
        {% endif %}
    </div>
</div>
<hr>