{% if posts %}
{% for post in posts %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'specificpost' post.id %}">
                        <img src="{{post.post_image.url}}" class="card-img img-responsive hovercard"
                            style="max-width: 600px; max-height: 500px; padding: 13px;border-radius: 30px;">
                    </a>
                </div>
                <div class="card-footer text-muted">
                    <span style="font-weight:900">{{post.user}}:</span>
                    <span class="text-center">{{post.post_caption}}</span>
                    <br>
                    <a href="{% url 'comment' post.id %}">
                        <button class="btn btn-outline-secondary my-2 my-sm-0">Comment</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% else %}
<p class="text-center">Sorry there are no recent posts</p>
{% endif %}